<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container">
            <nav class="navbar navbar-inverse" id="header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand title-link">@Html.ActionLink("Welcome to Flickr Bitch!", "Index", "Account")</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Posts", "Index", "Account")</li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                        {
                        <li>@Html.ActionLink("New Post", "Create")</li>
                            <li>@Html.ActionLink(User.Identity.Name, "Index", "Posts")</li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account"))
                            {
                                <input type="submit" id="logout" value="Logout" />
                            }
                        </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Create Admin Account", "Register")</li>
                            <li>@Html.ActionLink("Admin Login", "Login")</li>
                        }</li>
                    </ul>
                </div>
            </nav>
            @RenderBody()
        </div>
</body>
</html>
